<div class="table-container" id="scrollbar1">
    <table mat-table [dataSource]="dataSourceAll" matSort class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="p-l-0" style="padding: 0px !important;">
          <div style="display: flex; flex-direction: column;">
            <div class="header-all-centers">
              <mat-checkbox
              (change)="$event ? masterToggleCenters() : null"
              [checked]="selectionCenters.hasValue() && isAllSelectedCenters()"
              color="#99ABB4"
              [indeterminate]="selectionCenters.hasValue() && !isAllSelectedCenters()"
              [aria-label]="checkboxLabelCenters()">
            </mat-checkbox>
            </div>
            <div class="header-all-variables">
              <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selectionVariables.hasValue() && isAllSelected()"
              color="#99ABB4"
              [indeterminate]="selectionVariables.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
            </div>
          </div>
          
        </th>
        <td mat-cell *matCellDef="let row" class="p-l-0">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="action(row)" 
            [checked]="selectionVariables.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
  
      </ng-container>

      <!-- Variable Name Column -->
      <ng-container matColumnDef="variable_name">
          <th mat-header-cell *matHeaderCellDef style="padding: 0px !important;">
            
              <div style="display: flex; flex-direction: column;">

                <div class="header-all-centers centers-text">
                  {{'pages.metadata_search.all_centers' | translate}}
                </div>
                <div class="header-all-variables variables-text">
                  {{'pages.metadata_search.all_variables_c' | translate}}
  
                </div>
              </div>
            
          </th>
          <td mat-cell *matCellDef="let element"> {{element.variable_name}} </td>
      </ng-container>

      <ng-container *ngFor="let center of centers" [matColumnDef]="center.center">
        <th mat-header-cell *matHeaderCellDef style="min-width: 150px; padding: 2px !important"> 
          <div class="header-center">
            <div class="center-name">
              <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="actionCenter(center.center)" 
              [checked]="selectionCenters.isSelected(center.center)"
              [aria-label]="checkboxLabelCenters(center.center)">
            </mat-checkbox>
              {{ center.center }} 
            </div>
            <div class="center-years">
              ({{ center.years }})
            </div>
          </div>
          <div class="header-availability" style="margin-top: 5px">
            <div class="availability-text">
              {{'pages.metadata_search.availability' | translate}}
            </div>
            <div class="availability-dpr">
              D <img style="padding: 5px;" src="./assets/images/icons/metadata-seach/bar.svg"/> P <img style="padding: 5px;" src="./assets/images/icons/metadata-seach/bar.svg"/> R
            </div>
          </div>
         </th>
         
        <td mat-cell *matCellDef="let element"> 
          <div style="display: flex; justify-content: center;">
            <div>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_d') == 'True'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_d') == 'False'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_d') == 'Not available'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>
            
            </div>
            <img style="padding: 5px;" src="./assets/images/icons/metadata-seach/available-icons-bar.svg"/>
            <div>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_p') == 'True'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_p') == 'False'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_p') == 'Not available'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>

            </div>
            <img style="padding: 5px;" src="./assets/images/icons/metadata-seach/available-icons-bar.svg"/>
            <div>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_r') == 'True'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_r') == 'False'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>
              <img *ngIf="this.checkAvailability(element, center.center, 'availability_r') == 'Not available'" style="padding: 5px;" src="./assets/images/icons/metadata-seach/no-available-icon.svg"/>

            </div>
          </div>
        </td>

        </ng-container>

      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>