
<mat-stepper [linear]="true" headerPosition="bottom" labelPosition="bottom" #stepper *ngIf="!metadataSearchFinished">
  <!-- STEPPER 1: Cancer type -->
  <mat-step [stepControl]="cancerTypeFormGroup">
    <ng-template matStepLabel class="stepper-label">{{'pages.metadata_search.cancer_type' | translate}}</ng-template>
    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.select_cancer_type' | translate}}</h4>
          <h5>{{'pages.metadata_search.single_selection' | translate}}</h5>
        </div>
      </div>

      <mat-card-content style="padding-top: 24px;">
        <form [formGroup]="cancerTypeFormGroup" class="form-div" #userlogin = "ngForm" >

          <mat-radio-group [formControl]="firstCtrl">
            <!-- Head and neck cancer checkbox-->
            <div class="checkbox">
              <mat-radio-button value="H&N" color="primary"
                >{{'pages.metadata_search.head_and_neck' | translate}}</mat-radio-button
              >
              <p class="checkbox-subtitle">- {{numberOfPatientsHNC}} {{'pages.metadata_search.patients' | translate}}</p>
            </div>
            <!-- Sarcoma checkbox-->
            <div class="checkbox">
              <mat-radio-button value="Sarc." color="primary"
                >{{'pages.metadata_search.sarcoma' | translate}}</mat-radio-button
              >
              <p class="checkbox-subtitle">- {{numberOfPatientsSarcoma}} {{'pages.metadata_search.patients' | translate}}</p>
            </div>
          </mat-radio-group>
          
          <!-- Card Footer Continue button-->
          <mat-card-actions class="footer" style="justify-content: right;">
            <button mat-raised-button matStepperNext color="primary" class="continue-button" 
            type="submit"
              [disabled]="firstCtrl.invalid" (click)="selectedCancerType(userlogin.value)"
            >{{'pages.metadata_search.continue' | translate}}</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <!-- STEPPER 2: Variables pre-selection -->
  <mat-step [stepControl]="variablesFormGroup">
    <ng-template matStepLabel class="stepper-label">{{'pages.metadata_search.variables_preselection' | translate}}</ng-template>

    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.search_variables' | translate}}</h4>
        </div>
      </div>
      <mat-card-header class="header">
        <div class="header-actions">
          <!-- Table searcher -->
          <div class="search-container">
            <app-searcher (search)="applyFilterVariables($event)"></app-searcher>
          </div>
          
          <!-- Download variables in CSV format -->
          <div class="div-csv">
            <button
              mat-flat-button
              color="primary"
              class="download-btn btn"
              (click)="downloadPreSelection()"
              
              >
              <mat-icon>download</mat-icon>
              {{'pages.metadata_search.csv' | translate}}
            </button>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group >

          <!-- Create a tab for each of the entities of the data-->
          <div class="table-container" id="scrollbar1">
            <mat-tab *ngFor="let entity of entities; let i = index" [label]="entity">
              <app-variables-table [variableData]=dataFiltered [entity]=entity
                ></app-variables-table>
              
            </mat-tab>
          </div>
          
        </mat-tab-group>
      </mat-card-content>

      <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button matStepperPrevious class="back-button">{{'pages.metadata_search.back' | translate}}</button>
       <!-- Continue button -->
        <button mat-raised-button color="primary" matStepperNext class="continue-button" type="submit"
        [disabled]="selectionService.getDataSelected().length == 0" (click)="continueVariables()"> {{'pages.metadata_search.continue' | translate}} </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <!-- STEPPER 3: Availability per cancer -->
  <mat-step [stepControl]="availabilityFormGroup">
    <ng-template matStepLabel> {{'pages.metadata_search.availability_cancer' | translate}}</ng-template>
    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.select_clinical_centers_availability' | translate}}</h4>
        </div>
      </div>
      <mat-card-header class="header">
        <div class="header-actions">
          <!-- Table searcher -->
          <div class="search-container">
            <app-searcher (search)="applyFilterAvailability($event)"></app-searcher>
          </div>
          
          <!-- Download variables in CSV format -->
          <div class="div-csv">
            <button
              mat-flat-button
              color="primary"
              class="download-btn btn"
              (click)="downloadAvailabilityPerCenter()"
              >
              <mat-icon>download</mat-icon>
              {{'pages.metadata_search.csv' | translate}}
            </button>
          </div>
        </div>
      </mat-card-header>
      
      <mat-card-content>
        <div class="info-text">
          <div class="info-icon">
            <mat-icon class="material-icons-outlined">info</mat-icon>
          </div>
          <div>
            {{'pages.metadata_search.availability_cancer_description_1' | translate}}<br>
            {{'pages.metadata_search.availability_cancer_description_2' | translate}}

          </div>
        </div>

        <!-- Create a tab for each of the entities of the data-->
        <div class="table-container" id="scrollbar1">
            <app-availability-table [variableData]=availableData
              ></app-availability-table>
            
        </div>
        
      </mat-card-content>

      <!-- Card Footer -->
      <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button matStepperPrevious class="back-button">{{'pages.metadata_search.back' | translate}}</button>
       <!-- Continue button -->
        <button mat-raised-button color="primary" matStepperNext class="continue-button" type="submit"
        [disabled]="selectionService.getDataSelected().length == 0 || selectionService.getSelectedCenters().length == 0" (click)="continueAvailability()"> {{'pages.metadata_search.continue' | translate}} </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <!-- STEPPER 4: Detail Analysis -->
  <mat-step [stepControl]="detailAnalysisFormGroup">
    <ng-template matStepLabel>{{'pages.metadata_search.detail_analysis' | translate}}</ng-template>
    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.select_clinical_centers' | translate}}</h4>
        </div>
      </div>
      <mat-card-header class="header">
        <div class="header-actions">
          <!-- Table searcher -->
          <div class="search-container">
            <app-searcher (search)="applyFilterDetailAnalysis($event)"></app-searcher>
          </div>
          
          <!-- Download variables in CSV format -->
          <div class="div-csv">
            
            <div class="phase-disease-filter">
              <form [formGroup]="phaseFilterForm">
                      <span class="phase-disease-filter-header border-right-line">
                      
                        <img style="vertical-align: middle;" src="./assets/images/icons/metadata-seach/detailed-variables-filter-icon.svg"/>
                        {{'pages.metadata_search.phase_disease_filter' | translate}}:</span>
                      <span class="phase-disease-filter-text border-right-line">
                        <mat-checkbox formControlName="diagnosis" (change)="onPhaseFilterChange()" style="height: 35px !important;"></mat-checkbox>
                        {{'pages.metadata_search.diagnosis' | translate}}
                      </span>
                      <span class="phase-disease-filter-text border-right-line">
                        <mat-checkbox formControlName="progression" (change)="onPhaseFilterChange()" style="height: 35px !important;"></mat-checkbox>
                        {{'pages.metadata_search.progression' | translate}}
                      </span>
                      <span class="phase-disease-filter-text">
                        <mat-checkbox formControlName="recurrence" (change)="onPhaseFilterChange()" style="height: 35px !important;"></mat-checkbox>
                        {{'pages.metadata_search.recurrence' | translate}}
                      </span>
                      </form>
            </div>
            <button
              mat-flat-button
              color="primary"
              class="download-btn btn"
              
              >
              <mat-icon>download</mat-icon>
              {{'pages.metadata_search.csv' | translate}}
            </button>
            
          </div>
        </div>
      </mat-card-header>
      
      <mat-card-content>
        <mat-tab-group >

          <!-- Create a tab for each of the entities of the data-->
          <div class="table-container" id="scrollbar1">
            <mat-tab class="detailed-variables" *ngFor="let center of selectedCenters; let i = index">
              <ng-template mat-tab-label>
                <div class="tab-label-with-checkbox">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="actionCenter(center.center)" 
                    [checked]="selectionCenters.isSelected(center.center)"
                    [aria-label]="checkboxLabelCenters(center.center)">
                  </mat-checkbox>
                  <span>{{center}}</span>
                </div>
              </ng-template>
              <app-detail-analysis-table [variableData]=selectedVariablesByCenter [center]=center></app-detail-analysis-table>
            </mat-tab>
          </div>
          
        </mat-tab-group>
        
      </mat-card-content>

      <!-- Card Footer -->
      <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button matStepperPrevious class="back-button">{{'pages.metadata_search.back' | translate}}</button>
       <!-- Continue button -->
        <button mat-raised-button color="primary" class="continue-button" type="submit"
        [disabled]="selectionService.getDataSelected().length == 0 || selectionService.getSelectedCenters().length == 0" (click)="continueDetailAnalysis()"> {{'pages.metadata_search.continue' | translate}} </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
</mat-stepper>
<div *ngIf="metadataSearchFinished">
  <mat-card class="container">

    <!-- Card Header -->
    <div class="header-div">
      <div class="header-title">
        <h4>{{'pages.metadata_search.create_new_workspace' | translate}}</h4>
      </div>
    </div>

    <!-- Form to create a workspace-->
    <mat-card-content>
      <form class="workspace-form" [formGroup]="workspaceFormGroup">

        <!-- Fill workspace name -->
        <mat-label class="workspace-form-title">{{'pages.metadata_search.workspace_name' | translate}}<span class="required">*</span></mat-label>
        <mat-form-field class="workspace-form-fields" appearance="outline" >
          <input class="name-input" matInput [formControl]="workspaceNameCtrl" required>
        </mat-form-field>

        <!-- Fill workspace description-->
        <mat-label class="workspace-form-title">{{'pages.metadata_search.workspace_brief_description' | translate}}<span class="required">*</span></mat-label>
        <mat-form-field class="workspace-form-fields" appearance="outline">
          <textarea class="description-textarea" matInput [formControl]="workspaceDescriptionCtrl" required></textarea>
        </mat-form-field>
      </form>
      
    </mat-card-content>

    <!-- Card Footer -->
    <mat-card-actions class="footer-workspace">
      <!-- Back button -->
      <button mat-button class="back-button" (click)="backWorkspace()">{{'pages.metadata_search.back' | translate}}</button>
     <!-- Continue button -->
      <button mat-raised-button color="primary" class="continue-button" type="submit"
      [disabled]="workspaceNameCtrl.invalid || workspaceDescriptionCtrl.invalid" (click)="openDialogLogin()"
      > {{'pages.metadata_search.continue' | translate}} </button>
    </mat-card-actions>
  </mat-card>
</div>





      
      

    




