/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    /* background shadow */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    padding: 0px;
    max-width: 100% !important;
  }
  
  .header {
    align-items: center;
  }
  .header-div {
    border-radius: 10px 10px var(--Corner-Radius-zero, 0px) var(--Corner-Radius-zero, 0px);
    border-bottom: 1px solid var(--grey-colors-border, #DBE1E6);
    background: var(--Raven-Azul, #255E87);
    padding: 10px var(--xxl, 30px);
    width: 100%;
  }
  .header-title {
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    display: flex;
}
.header-title h4 {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    margin: 0;
  }
.header-title h5 {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}
.checkbox {
    display: flex;
    align-content: center;
    color: var(--grey-colors-Text-Heading-Color, #3A4752);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkbox-subtitle {
    align-content: center;
    color: var(--grey-colors-Text-Subheading-Color, #99ABB4);
    margin-left: 5px;
}
.header-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.search-container {
  width: 30%;
}

.div-csv {
  display: flex;
  width: 70%;
  justify-content: right;
}
  
.blue-button {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: var(--Corner-Radius-md, 8px);
}
  
.download-btn {
    padding: var(--zero, 0px) var(--md, 16px);
    min-width: 100px;
}
.variables-tabs {
    width: 90%;
}
  
  /* Tabs Section */
  mat-tab-group {
    margin-top: 15px;
  }
  
  
  
  /* FOOTER SECTION */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 24px !important;
}
.footer-workspace {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px !important;
}
  
.back-button, .continue-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    min-width: 100px;
    
}
  
.back-button {
    background: #99ABB4;
    color: #FFFFFF !important;
}

.info-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #255E87;
  margin-top: 10px;
  display: flex;
}
.info-icon {
  min-width: 50px;
  text-align: center;
  padding: 10px
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.variable-name {
  text-align: left;
  font-weight: bold;
}

.center-cell {
  min-width: 100px;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}

.partial {
  color: grey;
  font-weight: bold;
}

.phase-disease-filter {
  border-radius: 6px;
  border: 1px solid #DBE1E6;
  background: #FFF;
  margin-right: 20px;
  // padding: 7px;
}
.phase-disease-filter-header {
  color: var(--grey-colors-Text-Heading-Color, #3A4752);
  font-family: Poppins;
  font-size: 14.075px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 6px 10px;
}
.phase-disease-filter-text {
  color: var(--grey-colors-Text-Heading-Color, #3A4752);
  font-family: Poppins;
  font-size: 14.075px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 6px 10px;
}
.border-right-line {
  border-right: 0.938px solid #DBE1E6;

}
.workspace-form {
  padding: 30px 10px;
}
.workspace-form-fields {
  width: 100%;
  margin-top: 10px;display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: var(--grey-colors-Text-Heading-Color, #3A4752);
}

.required {
  color: var(--rojo, #F8285A);
  margin-left: 0.25rem;
}
.workspace-form-title {
  color: var(--grey-colors-Text-Heading-Color, #3A4752);

  /* Regular captions/reg cap 3 */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.name-input {
  color: var(--grey-colors-sub-heading-2, #6C757D) !important;
  font-family: Poppins !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.description-textarea {
  height: 159px !important;
  color: var(--grey-colors-sub-heading-2, #6C757D) !important;
  font-family: Poppins !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}


/*       STEPPER        */
// Styling for stepper
::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--Raven-Azul, #255E87) !important;
    
}
/* Remove background from stepper container */
::ng-deep .mat-stepper-vertical, .mat-stepper-horizontal {
  background: transparent !important;
  box-shadow: none; /* Optional: Remove any shadow if present */
}
/* Remove background from each step header */
::ng-deep .mat-step-header {
  background: transparent;
}

/* Remove hover effect background on step header */
::ng-deep .mat-step-header:hover {
  background: transparent;
}
/* Remove padding of the stepper content */
::ng-deep .mat-stepper-header-position-bottom .mat-horizontal-content-container {
    padding: 0px !important;
}
::ng-deep .mat-horizontal-stepper-wrapper{
    // height: 75vh !important; /* Optional: Set the height of the stepper */
}
::ng-deep .mat-stepper-header-position-bottom .mat-horizontal-stepper-header-container {
    margin-top: auto !important;
}
/*       ScrollBar 1        */

#scrollbar1::-webkit-scrollbar {
    width: 8px;

}

#scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #DBE1E6;
    margin: 1px; /* space around the track */
    // padding-right: 10px; /* additional space on the right */
}

#scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #255E87;
}