
<mat-stepper [linear]="true" headerPosition="bottom" labelPosition="bottom" #stepper >
  <!-- STEPPER 1: Cancer type -->
  <mat-step [stepControl]="cancerTypeFormGroup">
    <ng-template matStepLabel class="stepper-label">{{'pages.metadata_search.cancer_type' | translate}}</ng-template>
    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.select_cancer_type' | translate}}</h4>
          <h5>{{'pages.metadata_search.single_selection' | translate}}</h5>
        </div>
      </div>

      <mat-card-content style="padding-top: 24px;">
        <form [formGroup]="cancerTypeFormGroup" class="form-div" #userlogin = "ngForm" >

          <mat-radio-group [formControl]="firstCtrl">
            <!-- Head and neck cancer checkbox-->
            <div class="checkbox">
              <mat-radio-button value="H&N" color="primary"
                >Head and Neck Cancer (HNC)</mat-radio-button
              >
              <p class="checkbox-subtitle">- 300 cases</p>
            </div>
            <!-- Sarcoma checkbox-->
            <div class="checkbox">
              <mat-radio-button value="Sarc." color="primary"
                >Sarcoma</mat-radio-button
              >
              <p class="checkbox-subtitle">- 300 cases</p>
            </div>
          </mat-radio-group>
          
          <!-- Card Footer Continue button-->
          <mat-card-actions class="footer" style="justify-content: right;">
            <button mat-raised-button matStepperNext color="primary" class="continue-button" 
            type="submit"
              [disabled]="firstCtrl.invalid" (click)="selectedCancerType(userlogin.value)"
            >{{'pages.metadata_search.continue' | translate}}</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-step>
  <!-- STEPPER 2: Variables pre-selection -->
  <mat-step [stepControl]="variablesFormGroup">
    <ng-template matStepLabel class="stepper-label">{{'pages.metadata_search.variables_preselection' | translate}}</ng-template>

    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.search_variables' | translate}}</h4>
        </div>
      </div>
      <mat-card-header class="header">
        <div class="header-actions">
          <!-- Table searcher -->
          <div class="search-container">
            <app-searcher (search)="applyFilterAll($event)"></app-searcher>
          </div>
          
          <!-- Download variables in CSV format -->
          <div class="div-csv">
            <button
              mat-flat-button
              color="primary"
              class="download-btn btn"
              
              >
              <!-- <img src="./assets/images/icons/metadata-seach/download.svg"/> -->
              <mat-icon>download</mat-icon>
              {{'pages.metadata_search.csv' | translate}}
            </button>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group >

          <!-- Create a tab for each of the entities of the data-->
          <div class="table-container" id="scrollbar1">
            <mat-tab *ngFor="let entity of entities; let i = index" [label]="entity">
              <app-variables-table [variableData]=dataFiltered [entity]=entity
                ></app-variables-table>
              
            </mat-tab>
          </div>
          
        </mat-tab-group>
      </mat-card-content>

      <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button matStepperPrevious class="back-button">{{'pages.metadata_search.back' | translate}}</button>
       <!-- Continue button -->
        <button mat-raised-button color="primary" matStepperNext class="continue-button" type="submit"
        [disabled]="selectionService.getDataSelected().length == 0" (click)="continue()"> {{'pages.metadata_search.continue' | translate}} </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <!-- STEPPER 3: Availability per cancer -->
  <mat-step [stepControl]="availabilityFormGroup">
    <ng-template matStepLabel> {{'pages.metadata_search.availability_cancer' | translate}}</ng-template>
    <mat-card class="container">

      <!-- Card Header -->
      <div class="header-div">
        <div class="header-title">
          <h4>{{'pages.metadata_search.search_variables' | translate}}</h4>
        </div>
      </div>
      <mat-card-header class="header">
        <div class="header-actions">
          <!-- Table searcher -->
          <div class="search-container">
            <app-searcher (search)="applyFilterAll($event)"></app-searcher>
          </div>
          
          <!-- Download variables in CSV format -->
          <div class="div-csv">
            <button
              mat-flat-button
              color="primary"
              class="download-btn btn"
              >
              <mat-icon>download</mat-icon>
              {{'pages.metadata_search.csv' | translate}}
            </button>
          </div>
        </div>
      </mat-card-header>
      
      <mat-card-content>
        <div class="info-text">
          <div class="info-icon">
            <mat-icon class="material-icons-outlined">info</mat-icon>
          </div>
          <div>
            {{'pages.metadata_search.availability_cancer_description_1' | translate}}<br>
            {{'pages.metadata_search.availability_cancer_description_2' | translate}}

          </div>
        </div>

        <!-- Create a tab for each of the entities of the data-->
        <div class="table-container" id="scrollbar1">
            <app-availability-table [variableData]=availableData
              ></app-availability-table>
            
        </div>
        
        
        
      </mat-card-content>

      <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button matStepperPrevious class="back-button">{{'pages.metadata_search.back' | translate}}</button>
       <!-- Continue button -->
        <button mat-raised-button color="primary" matStepperNext class="continue-button" type="submit"
        [disabled]="selectionService.getDataSelected().length == 0" (click)="continue()"> {{'pages.metadata_search.continue' | translate}} </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <!-- STEPPER 4: Detail Analysis -->
  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Detail Analysis</ng-template>
  </mat-step>
</mat-stepper>





      
      

    




