.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-engine, .new-workspace {
  width: 50%;
}
.search-input {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    // line-height: 21px;
    text-align: left;
    border: 1px solid var(--grey-colors-border, #DBE1E6);
  }
  
.search-input::placeholder {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.search-icon {
    color: #99ABB4;
}
.search-field {
    width: 512px;
    border-radius: 6px;
    background: var(--Primary-Colors-primary-white, #FFF);

}
::ng-deep mat-form-field {
    height: 35px;
  }
  
  ::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
    height: 35px;
    display: flex;
    align-items: center;
  }
  
  ::ng-deep mat-form-field input {
    height: 35px;
    // padding: 10px;
  }
  // Change the color of the placeholder text
  ::ng-deep .custom-search-field input::placeholder {
    color: #99ABB4 !important; /* Change to any color you want */
    opacity: 1; /* Ensure full visibility */
  }

  .workspace-button {
    border-radius: 8px !important;
    background: #255E87;
    color: #FFF !important;
    padding: 0 16px;
    /* Medium Captions/Med Cap 3 */
    font-family: Poppins !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    float: right;
  }
  .content-containers {
    width: 100%;
    // padding: 20px;
    border: 1px solid var(--grey-colors-border, #DBE1E6);
    background: #FFF;
    margin-top: 20px;
  }

  /* Table Section */
.table-container {
    // max-height: 300px; /* Optional: Set the height of the table */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
  }

  /*    TABLE STYLES   */
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: none;
  }
  
  table th, table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #DBE1E6;
  }
  
  /* Table Header */
  table th {
    background: rgba(37, 94, 135, 0.15);

    font-weight: 500;
    color: var(--grey-colors-Text-Heading-Color, #3A4752);

  }
  /* Table Body */
  table td {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey-colors-Text-Heading-Color, #3A4752);

  }
  /* Table Row, mause hover */
  table tr:hover {
    background-color: #f1f1f1;
  }

  .open-button {
    background: #255E87;
    color: #FFF !important;
    border-radius: 5px !important;

  }





















.wokspace-name {
    color: var(--grey-colors-Text-Heading-Color, #3A4752);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.wokspace-description {
    color: var(--grey-colors-sub-heading-2, #6C757D);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.workspace-status {
    display: flex;
    flex-direction: row;
}
.blue-box {
    color: var(--Raven-Azul, #255E87);

    /* Medium Captions/Med Cap 4 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 2px;
    background: var(--light-action-colors-primary-light, rgba(30, 136, 229, 0.14));
    margin-right: 10px;
    padding: 5px;
}
.history-filter {
    border-radius: 6px;
    border: 1px solid #DBE1E6;
    background: #FFF;
    margin-right: 20px;
    // padding: 7px;
    width: 30%;
  }
  .history-filter-header {
    color: var(--grey-colors-Text-Heading-Color, #3A4752);
    font-family: Poppins;
    font-size: 14.075px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 6px 10px;
  }
  .history-filter-text {
    color: var(--grey-colors-Text-Heading-Color, #3A4752);
    font-family: Poppins;
    font-size: 14.075px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 6px 10px;
  }
  .border-right-line {
    border-right: 0.938px solid #DBE1E6;
  
  }
  .history-form {
    height: 38px;
    // display: flex;    ;
    // flex-direction: row;
    // justify-content: space-between;
  }