<mat-card class="container">

  <!-- Card Header -->
  <div class="header-div">
    <div class="header-title">
      <h4>{{'pages.data-analysis.data_preparation.data_quality_preparation' | translate}}</h4>
    </div>
  </div>

  <mat-card-content class="data-preparation-content">
    <div class="grid-layout">
      <!-- LEFT COLUMN -->
      <div class="left-column">

        <!-- Filters -->
        <mat-card class="inner-card">
          <div *ngIf="showCenters">
            <mat-card-title class="filter-title">
              {{'pages.data-analysis.data_preparation.centers' | translate}}
            </mat-card-title>
            <mat-card-content>
              <section class="filter-checkbox-group" *ngFor="let center of centerFilters">
                <mat-checkbox [(ngModel)]="center.selected" (change)="onCentersChange()">{{center.label}}</mat-checkbox>
              </section>
            </mat-card-content>
          </div>
          <div *ngIf="showCohorts">
            <mat-card-title class="filter-title">
              {{'pages.data-analysis.data_preparation.cohorts' | translate}}
            </mat-card-title>
            <mat-card-content *ngIf="showCohorts">
              <section class="filter-checkbox-group" *ngFor="let cohort of cohortFilters">
                <mat-checkbox [(ngModel)]="cohort.selected" (change)="onCohortsChange()">{{cohort.label}}</mat-checkbox>
              </section>
            </mat-card-content>
          </div>
        </mat-card>

        <!-- Variables -->
        <mat-card class="inner-card">
          <mat-card-title class="filter-title">{{'pages.data-analysis.data_preparation.variables' |
            translate}}</mat-card-title>
          <mat-card-content class="variables-content">
            <mat-form-field appearance="outline">
              <mat-label class="variables-search-label">{{'pages.data-analysis.data_preparation.select' |
                translate}}</mat-label>
              <mat-select [(value)]="selectedValue" (selectionChange)="onVariableSelected($event.value)" [disabled]="isLoading">
                <mat-option *ngFor="let option of optionsVariables" [value]="option">
                  {{ option.variable_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="create-variable-button" (click)="createVariable()">
              <mat-icon>add</mat-icon>
              {{'pages.data-analysis.data_preparation.create_variable' | translate}}
            </button>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- RIGHT COLUMN -->
      <ng-container *ngIf="isLoading">
        <div class="right-column">
          <mat-card class="inner-card full-height">
            <div class="summary-statistics-header">
              <mat-card-title class="filter-title">{{'pages.data-analysis.data_preparation.summary_statistics' |
                translate}}</mat-card-title>
              <mat-card-content style="padding-bottom: 0px;">
                <!-- Header -->
                <div>
                  <div class="loading-overlay">
                    <div class="spinner"></div>
                  </div>
                  <p>Task status:  {{taskStatus}}</p>
                </div>
              </mat-card-content>

            </div>
          </mat-card>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoading&&isCrashed">
        <p>CRASHED</p>
      </ng-container>
      <ng-container *ngIf="!isLoading&& !isCrashed">
        <div class="right-column">
          <mat-card class="inner-card full-height">
            <div class="summary-statistics-header">
              <mat-card-title class="filter-title">{{'pages.data-analysis.data_preparation.summary_statistics' |
                translate}}</mat-card-title>
              <mat-card-content style="padding-bottom: 0px;">
                <!-- Header -->
                <div class="checkbox-group">
                  <mat-checkbox checked [(ngModel)]="showCenters">
                    {{'pages.data-analysis.data_preparation.centers' | translate}}
                  </mat-checkbox>
                  <mat-checkbox checked [(ngModel)]="showCohorts">
                    {{'pages.data-analysis.data_preparation.cohorts' | translate}}
                  </mat-checkbox>
                </div>
              </mat-card-content>
            </div>

            <!-- VARIABLE NOT SELECTED -->
            <div *ngIf="!selectedValue" class="no-variable-selected">
              <p>{{'pages.data-analysis.data_preparation.no_variable_selected' | translate}}</p>
            </div>

            <!-- VARIABLE  SELECTED -->

            <div *ngIf="selectedValue" style="width: 100%;">
              <!-- Sub title -->
              <div>
                <div class="variable-title">
                  {{ selectedValue.variable_name }}
                </div>
                <span class="variable-description">
                  Description: {{ selectedValue.variable_description }}
                </span>
              </div>

              <!-- Cohorts table -->
              <div class="table-container" *ngIf="showCohorts">
                <span>
                  Cohort Statistics
                </span>
                <table mat-table [dataSource]="dataSourceCohorts" class="statistics-table">
                  <!-- Column Column -->
                  <ng-container *ngFor="let column of displayedColumnsCohorts" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsCohorts"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsCohorts;"></tr>
                </table>
              </div>
              <!-- Centers table -->
              <div class="table-container" *ngIf="showCenters">
                <span>
                  {{'pages.data-analysis.data_preparation.centers_statistics' | translate}}
                </span>
                <div *ngFor="let cohort of objectKeys(centersTables)">
                  <div>
                    <h4>{{'pages.data-analysis.data_preparation.centers_statistics_for_cohort' | translate}}: {{ cohort }}</h4>
                  </div>
                  <!-- Table -->
                  <app-statistics-table [type]="'centers'" [data]=centersTables[cohort]
                    [columns]=displayedColumnsCenters></app-statistics-table>
                </div>

                <div class="numeric-center-charts" *ngIf="isNumericVariableSelected() && numericCenterCharts.length">
                  <div class="cohort-chart-group" *ngFor="let cohortCharts of numericCenterCharts">
                    <h4>{{'pages.data-analysis.data_preparation.center_charts_for_cohort' | translate}}: {{ cohortCharts.cohort }}</h4>
                    <div class="chart-grid">
                      <div class="chart-card" *ngFor="let chartData of cohortCharts.charts">
                        <p class="chart-title">{{ chartData.title }}</p>
                        <apx-chart
                          [series]="chartData.series"
                          [chart]="chartData.chart"
                          [xaxis]="chartData.xaxis"
                          [plotOptions]="chartData.plotOptions"
                          [dataLabels]="chartData.dataLabels"
                          [colors]="chartData.colors">
                        </apx-chart>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </mat-card>
        </div>
      </ng-container>

    </div>
  </mat-card-content>

  <!-- Card Footer -->
  <mat-card-actions class="footer">
    <!-- Back button -->
    <button mat-button class="back-button" (click)="goBack()">{{'pages.data-analysis.cohort-selection.back' |
      translate}}</button>
    <!-- Continue button -->
    <button mat-raised-button color="primary" class="continue-button" type="submit" (click)="goNext()" [disabled]="isLoading || isCrashed">
      {{'pages.data-analysis.cohort-selection.continue' | translate}} </button>
  </mat-card-actions>
</mat-card>