.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* optional: translucent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #eee;
  border-top: 6px solid #3f51b5;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
    background-color: #ffffff;
    border-radius: 10px;
    /* background shadow */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.10), 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    padding: 0px;
    max-width: 100% !important;
  }
  
.header {
    align-items: center;
  }
.header-div {
    border-radius: 10px 10px var(--Corner-Radius-zero, 0px) var(--Corner-Radius-zero, 0px);
    border-bottom: 1px solid var(--grey-colors-border, #DBE1E6);
    background: var(--Raven-Azul, #255E87);
    padding: 10px var(--xxl, 30px);
    width: 100%;
  }
.header-title {
    color: #FFF;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    display: flex;
}
.header-title h4 {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    margin: 0;
  }
.header-title h5 {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

// Search Engine
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-engine, .cohort-buttons-container {
  width: 50%;
}
.search-input {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    // line-height: 21px;
    text-align: left;
    border: 1px solid var(--grey-colors-border, #DBE1E6);
  }
  
.search-input::placeholder {
    color: #99ABB4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.search-icon {
    color: #99ABB4;
}
.search-field {
    width: 512px;
    border-radius: 6px;
    background: var(--Primary-Colors-primary-white, #FFF);

}
.cohort-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.cohort-button {
    border-radius: 8px;
    border: 1px solid var(--Raven-Azul, #255E87);
    background: #FFF;
    color: var(--Raven-Azul, #255E87) !important;

    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 16px;
}
.cohort-text {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.cohort-icon {
    margin-right: 5px;
}
::ng-deep mat-form-field {
    height: 35px;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
    height: 35px;
    display: flex;
    align-items: center;
}

::ng-deep mat-form-field input {
    height: 35px;
    // padding: 10px;
}
// Change the color of the placeholder text
::ng-deep .custom-search-field input::placeholder {
    color: #99ABB4 !important; /* Change to any color you want */
    opacity: 1; /* Ensure full visibility */
}

  /* Table Section */
.table-container {
    // max-height: 300px; /* Optional: Set the height of the table */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}
.cohort-table-container {
    width: 100%;
    border: 1px solid var(--grey-colors-border, #DBE1E6);
    margin-top: 20px;
    border: 1px solid var(--Grey-Light, rgba(153, 171, 180, 0.70));
    background: #FFF;
}

  /*    TABLE STYLES   */
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: none;
  }
  
  table th, table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #DBE1E6;
  }
  
  /* Table Header */
  table th {
    background: rgba(37, 94, 135, 0.15);

    font-weight: 500;
    color: var(--grey-colors-Text-Heading-Color, #3A4752);

  }
  /* Table Body */
  table td {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--grey-colors-Text-Heading-Color, #3A4752);

  }
  /* Table Row, mause hover */
  table tr:hover {
    background-color: #f1f1f1;
  }

  .open-button {
    background: #255E87;
    color: #FFF !important;
    border-radius: 5px !important;
    font-size: 12px;
    padding: 2px 8px;
    height: 25px;
  }
  .status-column {
    width: 100px;
  }
  .status-created, .status-executed, .status-v6-error, .status-initiated, .status-error, .status-partially-executed {
    padding: 2px 0px;
    display: flex;
    // height: 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    color: var(--Primary-Colors-primary-white, #FFF);

  }
  .status-created {
    background: var(--Primary-Colors-primary-color-2, #43CED7);
  }
  .status-executed {
    background: var(--Action-colors-green, #64C062);
  }
  .status-error {
    background: var(--Action-colors-red, #f61000);
  }

  .status-initiated {
    background: var(--Action-colors-yellow, #fad759);
  }
  .status-partially-executed {
    background: var(--Action-colors-orange, #f69400da);
  }
  .action-column {
    border-radius: 5px;
    background: var(--Raven-Azul, #255E87);
    padding: 2px 8px;
    width: 65px;
    color: var(--Primary-Colors-primary-white, #FFF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
  }
  .execute-button {
    border-radius: 10px;
    background: var(--light-action-colors-primary-light, rgba(30, 136, 229, 0.14));
    padding: 2px 5px 2px 12px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    color: var(--Primary-Colors-primary-color, #1B84FF) !important;

  }
  
  .centered-snackbar .mat-simple-snackbar {
    text-align: center !important;
    width: 100%;
  }
   /* FOOTER SECTION */
  .footer {
      display: flex;
      justify-content: space-between;
      padding: 15px 24px !important;
  }
    
  .back-button, .continue-button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 500;
      line-height: 22.5px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      min-width: 100px;
      
  }
    
  .back-button {
      background: #99ABB4;
      color: #FFFFFF !important;
  }