<mat-card class="container">

    <!-- Card Header -->
    <div class="header-div">
        <div class="header-title">
            <h4>{{'pages.data-analysis.cohort-selection.cohort-selection' | translate}}</h4>
        </div>
    </div>

    <mat-card-content style="padding-top: 24px;">
        <div class="filter-container">
            <!-- Table searcher -->
            <mat-form-field appearance="outline" class="search-field custom-search-field search-engine">
                <!-- Search icon -->
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <!-- Input field -->
                <input matInput (keyup)="applyFilter($event)" type="text" class="search-input"
                    placeholder="{{ 'pages.data-analysis.search_by_name' | translate }}" />
            </mat-form-field>
            <!-- Go to cohort builder -->
            <div class="cohort-buttons-container">
                <!-- Go to NLP cohort -->
                <button mat-raised-button class="cohort-button" (click)="goToNLPCohort()">
                    <span class="cohort-text">
                        {{'pages.data-analysis.go_nlp_cohort' | translate}}
                        <mat-icon class="cohort-icon">chevron_right</mat-icon>
                    </span>
                </button>
                <!-- Go to cohort manager -->
                <button mat-raised-button class="cohort-button" (click)="goToCohortManager()">
                    <span class="cohort-text">
                        {{'pages.data-analysis.go_cohort_manager' | translate}}
                        <mat-icon class="cohort-icon">chevron_right</mat-icon>
                    </span>
                </button>
            </div>
        </div>
        <!-- Fullscreen loading overlay -->
        <div *ngIf="loading" class="loading-overlay">
            <div class="spinner"></div>
        </div>

        <div class="cohort-table-container">

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="p-l-0">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()" color="primary"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="p-l-0">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null" color="primary"
                            [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)"
                            [disabled]="element.status != 1">
                        </mat-checkbox>
                    </td>

                </ng-container>


                <!-- Workspace ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pages.data-analysis.cohort-selection.id' |
                        translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Workspace Name Column -->
                <ng-container matColumnDef="cohort_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pages.data-analysis.cohort-selection.name'
                        | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.cohort_name}} </td>
                </ng-container>

                <!-- Creation Date Column -->
                <ng-container matColumnDef="creation_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.creation_date' | translate}}</th>
                    <td mat-cell *matCellDef="let element" style="color: #596F79;"> {{element.creation_date |
                        date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Last Modification Column -->
                <ng-container matColumnDef="update_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.update_date' | translate}}</th>
                    <td mat-cell *matCellDef="let element" style="color: #596F79;"> {{element.update_date |
                        date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.status' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="status-column">
                            <span class="status-created"
                                *ngIf="element.status === 0">{{'pages.data-analysis.cohort-selection.status_created' |
                                translate}}</span>
                            <span class="status-executed"
                                *ngIf="element.status === 1">{{'pages.data-analysis.cohort-selection.status_executed' |
                                translate}}</span>
                            <span class="status-initiated"
                                *ngIf="element.status === 2">{{'pages.data-analysis.cohort-selection.status_initiated' |
                                translate}}</span>
                            <span class="status-partially-executed"
                                *ngIf="element.status === 3">{{'pages.data-analysis.cohort-selection.status_partially_executed'
                                | translate}}</span>
                            <span class="status-error"
                                *ngIf="element.status === 4">{{'pages.data-analysis.cohort-selection.status_error' |
                                translate}}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="pending_coes">
                    <th mat-header-cell *matHeaderCellDef>{{'pages.data-analysis.cohort-selection.pending_coes' |
                        translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="cohort-text" *ngIf="element.status === 3">
                            {{element.missing}}
                        </span>

                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>{{'pages.workspace.action' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <!-- Execute query in Cohort builder-->
                        <button mat-button class="execute-button" *ngIf="element.status === 0"
                            (click)="executeQuery(element)" [disabled]="loading">
                            <span class="cohort-text">
                                {{'pages.data-analysis.cohort-selection.execute_query' | translate}}
                                <mat-icon class="cohort-icon">chevron_right</mat-icon>
                            </span>
                        </button>

                        <!-- Execute query in V6-->
                        <button mat-button class="execute-button" *ngIf="element.status === 3"
                            (click)="executeQuery(element.id)" [disabled]="loading">
                            <span class="cohort-text">
                                {{'pages.data-analysis.cohort-selection.execute_query' | translate}}
                                <mat-icon class="cohort-icon">chevron_right</mat-icon>
                            </span>
                        </button>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Pagination -->
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>

    </mat-card-content>
    <!-- Card Footer -->
    <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button class="back-button" (click)="backAnalysis()">{{'pages.data-analysis.cohort-selection.back' |
            translate}}</button>
        <!-- Continue button -->
        <button mat-raised-button color="primary" class="continue-button" type="submit" (click)="goNext()"
            [disabled]="this.selection.selected.length < 1"> {{'pages.data-analysis.cohort-selection.continue' |
            translate}} </button>
    </mat-card-actions>
</mat-card>