<h2 mat-dialog-title>{{'pages.data-analysis.create_variables.new_variable'|translate}}</h2>

<form [formGroup]="form">

  <mat-dialog-content class="dialog-content">

    <table class="form-table">
      <tr>
        <td><label>{{'pages.data-analysis.create_variables.new_variable_category'|translate}}</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">

            <mat-select formControlName="category" class="full-width big-field">
              <mat-option *ngFor="let cat of categoryOptions" [value]="cat">
                {{'pages.data-analysis.create_variables.' + cat | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><label>First numeric variable</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="column1">
              <mat-option *ngFor="let variable of numericVariables" [value]="variable.variable_id">
                {{variable.variable_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><label>Second numeric variable</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="column2">
              <mat-option *ngFor="let variable of getAvailableColumn2()" [value]="variable.variable_id">
                {{variable.variable_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><label>Operation</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <mat-select formControlName="operation">
              <mat-option *ngFor="let op of operationOptions" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><label>Name of the new variable</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="outputColumn">
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td><label>Brief description</label></td>
        <td>
          <mat-form-field appearance="outline" class="full-width">
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Save</button>
  </mat-dialog-actions>

</form>
