<mat-card class="container" *ngIf="!selectAlhorithm">

    <!-- Card Header -->
    <div class="header-div">
        <div class="header-title">
            <h4>{{'pages.data-analysis.analytic-selection.analytic-tools-executed' | translate}}</h4>
        </div>
    </div>

    <mat-card-content style="padding-top: 24px;">
        <div class="filter-container">
            <!-- Table searcher -->
            <mat-form-field appearance="outline" class="search-field custom-search-field search-engine">
                <!-- Search icon -->
                <mat-icon matPrefix class="search-icon">search</mat-icon>
                <!-- Input field -->
                <input matInput (keyup)="applyFilter($event)" type="text" class="search-input"
                    placeholder="{{ 'pages.data-analysis.search_by_name' | translate }}" />
            </mat-form-field>

            <!-- New analysis button -->
            <button mat-button class="algorithm-button" (click)="selectAlgorithm()">
                {{'pages.data-analysis.analytic-selection.select-algorithm' | translate}} </button>
        </div>

        <div class="analytic-table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Workspace ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pages.data-analysis.cohort-selection.id' |
                        translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Workspace Name Column -->
                <ng-container matColumnDef="algorithm_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pages.data-analysis.cohort-selection.name'
                        | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.method_name}} </td>
                </ng-container>

                <!-- Workspace Name variables -->
                <ng-container matColumnDef="input_variables">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pages.data-analysis.analytic-selection.variables-input'
                        | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.input}} </td>
                </ng-container>

                <!-- Creation Date Column -->
                <ng-container matColumnDef="creation_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.creation_date' | translate}}</th>
                    <td mat-cell *matCellDef="let element" style="color: #596F79;"> {{element.creation_date |
                        date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Last Modification Column -->
                <ng-container matColumnDef="update_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.update_date' | translate}}</th>
                    <td mat-cell *matCellDef="let element" style="color: #596F79;"> {{element.version_date |
                        date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Workspace Name Column -->
                <ng-container matColumnDef="status_task">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'pages.data-analysis.cohort-selection.status'
                        | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.status_task}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>{{'pages.workspace.action' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="canShowAction(element)">
                            <!-- Open Analysis button -->
                            <button mat-button class="open-button" (click)="openAlgorithm(element.id)">
                                <mat-icon>open_in_new</mat-icon>
                                {{'pages.workspace.open' | translate}}
                            </button>
                            <!-- Delete button -->
                            <button class="delete-button" (click)="deleteAlgorithm(element.id)">
                                <img src="./assets/images/icons/workspace/delete-icon.svg" alt="delete-icon" />

                            </button>
                        </ng-container>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Pagination -->
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>

    </mat-card-content>
    <!-- Card Footer -->
    <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button class="back-button" (click)="goBack()">{{'pages.data-analysis.analytic-selection.back' |
            translate}}</button>
    </mat-card-actions>
</mat-card>

<mat-card class="container" *ngIf="selectAlhorithm">

    <!-- Card Header -->
    <div class="header-div">
        <div class="header-title">
            <h4>{{'pages.data-analysis.analytic-selection.analytic-tool-selection' | translate}}</h4>
        </div>
    </div>

    <mat-card-content style="padding-top: 24px;">

        <div class="grid-layout">
            <div class="left-column">
                <p class="algorithm-text">{{'pages.data-analysis.analytic-selection.select-analysis-method' |
                    translate}}</p>
                <p class="algorithm-subtext">{{'pages.data-analysis.analytic-selection.click-more-info' | translate}}
                </p>
                <mat-form-field appearance="outline" class="algorithm-select">
                    <mat-label
                        class="algorithm-search-label">{{'pages.data-analysis.analytic-selection.select-analysis-method-label'
                        | translate}}</mat-label>
                    <mat-select [(value)]="selectedMethod" (selectionChange)="onMethodChange($event.value)">
                        <ngx-mat-select-search [formControl]="variableFilterCtrl"
                            [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                            [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                        </ngx-mat-select-search>
                        <mat-option *ngFor="let method of methods" [value]="method.value">
                            {{ method.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Info box (visible when a method is selected) -->
                <div class="info-card" *ngIf="selectedMethodInfo">
                    <mat-icon color="primary" class="info-icon">info</mat-icon>
                    <p class="info-content">{{ selectedMethodInfo }}</p>
                    <button mat-icon-button class="close-btn" (click)="selectedMethodInfo = null">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

            </div>
            <ng-container [ngSwitch]="selectedMethod">
                <div class="right-column" *ngSwitchCase="'crosstabulation'">
                    <p class="algorithm-text">{{'pages.data-analysis.analytic-selection.crosstab-parameters-title' |
                        translate}}</p>
                    <p class="algorithm-subtext">{{'pages.data-analysis.analytic-selection.crosstab-column-help' |
                        translate}}</p>
                    <div class="variable-selector">
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label
                                class="algorithm-search-label">{{'pages.data-analysis.analytic-selection.crosstab-column-variable-label'
                                | translate}}</mat-label>
                            <mat-select [(value)]="selectedColumnVariable"
                              (openedChange)="onVariableSelectOpened($event)"
                                (selectionChange)="onColumnVariableChange($event.value)">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                        [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                        [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let variable of getCategoricalAndBooleanVariables()" [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <p class="algorithm-subtext">{{'pages.data-analysis.analytic-selection.crosstab-row-help' |
                            translate}}</p>
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label
                                class="algorithm-search-label">{{'pages.data-analysis.analytic-selection.crosstab-row-variables-label'
                                | translate}}</mat-label>
                            <mat-select [(value)]="selectedRowVariables" multiple
                                (selectionChange)="onSelectionChange($event)">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getAvailableRowVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="selected-chips">
                            <mat-chip-set>
                                <mat-chip class="variables-chips" *ngFor="let variable of selectedRowVariables"
                                    (removed)="removeVariable(variable)">
                                    {{ getVariableLabel(variable) }}
                                    <button matChipRemove aria-label="Remove">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-chip>
                            </mat-chip-set>
                        </div>
                    </div>
                </div>

                <div class="right-column" *ngSwitchCase="'kaplan-meier'">
                    <p class="algorithm-text">Kaplan-Meier Parameters</p>
                    <p class="algorithm-subtext">Select time, censor, and optionally strata variables</p>

                    <div class="variable-selector">
                        <!-- Time Column -->
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Time Column *</mat-label>
                            <mat-select [(value)]="selectedTimeColumn">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search><mat-option *ngFor="let variable of getTimeAndDateVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Censor Column -->
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Censor Column*</mat-label>
                            <mat-select [(value)]="selectedCensorColumn">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getBooleanVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Strata Column (Optional) -->
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Strata Column (Optional)</mat-label>
                            <mat-select [(value)]="selectedStrataColumn">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option>-- None --</mat-option>
                                <mat-option *ngFor="let variable of getCategoricalVariables()" [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="right-column" *ngSwitchCase="'t-test'">
                    <p class="algorithm-text">{{'pages.data-analysis.analytic-selection.parameters-title' | translate}}
                    </p>
                    <p class="algorithm-subtext">{{'pages.data-analysis.analytic-selection.no-variables-required' |
                        translate}}</p>
                </div>

                <div class="right-column" *ngSwitchCase="'table1'">
                    <p class="algorithm-text">{{'pages.data-analysis.analytic-selection.parameters-title' | translate}}
                    </p>
                    <p class="algorithm-subtext">{{'pages.data-analysis.analytic-selection.no-variables-required' |
                        translate}}</p>
                </div>

                <div class="right-column" *ngSwitchCase="'glm'">
                    <p class="algorithm-text">GLM Parameters</p>
                    <p class="algorithm-subtext">Select family, predictor variables, and outcome variable</p>

                    <div class="variable-selector">
                        <!-- Family Selector (always visible) -->
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Family *</mat-label>
                            <mat-select [(value)]="selectedFamily">
                                <mat-option *ngFor="let family of glmFamilies" [value]="family">
                                    {{ family }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Predictor Variables (only when family is selected) -->
                        <mat-form-field appearance="outline" class="algorithm-select" *ngIf="isGLMFamilySelected()">
                            <mat-label class="algorithm-search-label">Predictor Variables *</mat-label>
                            <mat-select [(value)]="selectedPredictors" multiple>
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getPredictorVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }} ({{ variable.type }})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Outcome Variable (only when family is selected) -->
                        <mat-form-field appearance="outline" class="algorithm-select" *ngIf="isGLMFamilySelected()">
                            <mat-label class="algorithm-search-label">Outcome Variable *</mat-label>
                            <mat-select [(value)]="selectedOutcome">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getOutcomeVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }} ({{ variable.type }})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- Help text showing allowed outcome type -->
                        <p class="algorithm-subtext" *ngIf="isGLMFamilySelected()">
                            {{ getOutcomeHelpText() }}
                        </p>
                    </div>
                </div>

                <div class="right-column" *ngSwitchCase="'coxph'">
                    <p class="algorithm-text">CoxPH Parameters</p>
                    <p class="algorithm-subtext">Select the time-to-event column, the event indicator, and one or more
                        explanatory variables.</p>
                    <div class="variable-selector">
                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Time Column *</mat-label>
                            <mat-select [(value)]="selectedCoxTimeColumn">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getTimeAndDateVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Outcome Column *</mat-label>
                            <mat-select [(value)]="selectedCoxOutcomeColumn">
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getBooleanVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="algorithm-select">
                            <mat-label class="algorithm-search-label">Explanatory Variables *</mat-label>
                            <mat-select [(value)]="selectedCoxPredictors" multiple>
                                <ngx-mat-select-search [formControl]="variableFilterCtrl"
                                    [placeholderLabel]="'pages.data-analysis.search_variable' | translate"
                                    [noEntriesFoundLabel]="'pages.data-analysis.no_results' | translate">
                                </ngx-mat-select-search>
                                <mat-option *ngFor="let variable of getPredictorVariables()"
                                    [value]="variable.value">
                                    {{ variable.display_name }} ({{ variable.type }})
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="right-column" *ngSwitchCase="'log-rank-test'">
                    <p class="algorithm-text">Log-rank test Parameters</p>
                    <p class="algorithm-subtext"></p>
                </div>

                <div class="right-column" *ngSwitchCase="'time-delta'">
                    <p class="algorithm-text">Time Delta Parameters</p>
                    <p class="algorithm-subtext"></p>
                </div>

                <div class="right-column" *ngSwitchDefault>
                    <p class="algorithm-text">{{'pages.data-analysis.analytic-selection.parameters-title' | translate}}
                    </p>
                    <p class="algorithm-subtext">Select a method to configure its parameters.</p>
                </div>
            </ng-container>

        </div>

    </mat-card-content>
    <!-- Card Footer -->
    <mat-card-actions class="footer">
        <!-- Back button -->
        <button mat-button type="button" class="back-button"
            (click)="goBackAlgorithms()">{{'pages.data-analysis.analytic-selection.back' | translate}}</button>
        <!-- Save and Execute button -->
        <button mat-raised-button color="primary" class="continue-button" type="button" (click)="saveAlgorithm()"
            [disabled]="!selectedMethod|| loading">
            {{'pages.data-analysis.analytic-selection.save-execute' | translate}} </button>

    </mat-card-actions>
</mat-card>